@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: none;
	font-family: 'JetBrains Mono', Lato, Roboto, sans-serif;
	box-sizing: border-box;
}

main {
	margin-top: 90px;
}

#fileList {
	margin-top: 20px;
	padding: 20px;
	list-style-type: none;
}

#fileList li,
#addressbar {
	background: #fafafa;
	border-radius: 3px;
	border: 1px solid #bfbfbf;
	padding: 10px;
	font-size: 16px;
	margin-bottom: 15px;
	cursor: pointer;
	transition: 0.3s;
}

#fileList li[data-type='folder'] {
	background: #ececec;
}

#fileList li:hover {
	transform: scale(1.02);
}

#addressbar {
	width: 100%;
	margin-bottom: 0;
	cursor: auto;
}

#goBackBtn {
	margin-right: 15px;
	border-radius: 50%;
	width: 42px;
	height: 42px;
	background: #eeeeee;
	border: 1px solid #bfbfbf;
	font-size: 18px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}

.addressbar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	height: 80px;
	z-index: 9;
}
